header body {
    background-color: #FFFFFF;
}



.nav-link{
    color: #000;
}
.container-fluid h1{
font-family: #21243D;
font-size: 40px;
}
.main-bunner{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.nav-bar{
    margin-bottom: 140px;
}
.view{
    color: #00A8CC;
}
.h1{
    font-family: url("fonts/Heebo-VariableFont_wght.ttf");
    font-size: 44px;
    width: 609px;
    font-weight: bold;
}
.download-button{
    width: 208px;
    height: 47px;
   background-color: #FF6464;
   color: #FFFFFF;
   border-width: 0px;
   font-family: url("fonts/Heebo-VariableFont_wght.ttf");
   border-radius: 2px;
   margin-bottom: 78px;
}
.navbar{
    margin-left: 148px;
}

.main-cards{
    position: relative;
    display: flex;
    
    flex-direction: row;
    background-color: #EDF7FA;
}
.card-1{
    position: relative;
    margin-left: 148px;
    width: 418px;
    height: 237px;
    background-color: #FFFFFF;
    
}
.card-2{
    position: relative;
    margin-left: 148px;
    width: 418px;
    height: 237px;
    background-color: #FFFFFF;
   
}




.col-4{
    margin-top: 22px;
}
.
.col-6{
    border-width: 62px;
    height: 25px;
    border-radius: 16px;
    background-color: #142850;
}